PORT=3306
DB_HOST=localhost
DB_USER=root
DB_PASS=_Enterthewutang36chambers
DB_NAME=team45_db

JWT_SECRET=your-JWT_SECRET
GOOGLE_MAPS_API=contact_me_to_get_this
VAPID_PUBLIC_KEY=generate_this
VAPID_PRIVATE_KEY=generate_this
VAPID_EMAIL=email